body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
    background-image: url(https://img.freepik.com/fotos-premium/fundo-com-padrao-de-calateia-lutea-preta_53876-144275.jpg);
  }
  header {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  nav{
    background-color: #56FF98;
    padding: 20px;
  }
  section {
    color: white;
    padding: 30px;
    text-align: center;
    font-size: 20px;
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);;
  }
  footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 100;
  }