body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  nav {
    background-color: #f70a0a;
    text-align: center;
    padding: 10px 0;
  }
  section {
    background-color: #f9f9f9;
    padding: 20px;
  }
  aside {
    background-color: #56FF98;
    padding: 20px;
  }
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  audio {
    width: 100%;
    margin-top: 20px;
  }