body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
}

header {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 15px 0;
}

nav {
  text-align: center;
  margin-top: 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}

section {
  padding: 20px;
}

footer {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

audio {
  width: 100%;
  margin-top: 20px;
}

img, p {
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
  margin: 10px;
}